.button {
  width: 60px;
  height: 30px;
  background: rgb(63, 81, 181);
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
.button:hover {
  cursor: pointer;
  opacity: 0.8;
}
